<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <%= stylesheet_link_tag "profile.css" %>
        <h1> Change Password </h1>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <%= form_for(current_user, url: change_password_path, html: { method: :patch, 'data-parsley-validate' => '', class: 'change_password' }) do |f| %>
    <div class="card card-secondary card-outline">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group m-0">
              <label for="Password">Password</label>
              <%= f.password_field :password,
                placeholder: 'Enter Password',
                class: 'form-control w-100',
                required: true,
                autocomplete: :off,
                id: 'new-password',
                data: {
                  'parsley-required-message': 'Password is required',
                  'parsley-errors-container': '#change_password_error_block'
                } %>
              <span toggle="#new-password" class="fa fa-eye-slash field-icon toggle-password"></span>
            </div>
            <div id="change_password_error_block"></div>
          </div>

          <div class="col-sm-6">
            <div class="form-group m-0">
              <label for="Confirm Password">Confirm Password</label>
              <%= f.password_field :password_confirmation,
                placeholder: "Enter Confirm Password",
                class: 'form-control w-100',
                required: true,
                autocomplete: :off,
                data: {
                  'parsley-required-message': 'Confirm password is required',
                  'parsley-equalto': '#new-password',
                  'parsley-equalto-message': 'Confirm password is not matched with password',
                  'parsley-errors-container': '#change_confirm_password_error_block'
                } %>
              <span toggle="#user_password_confirmation" class="fa fa-eye-slash field-icon toggle-password"></span>
            </div>
            <div id="change_confirm_password_error_block"></div>
          </div>
        </div>
      </div>
      <div class='card-footer col-sm-12 justify-content-center d-flex mt-2 flex-wrap'>
        <%= button_tag 'Reset Password', class: 'btn btn-primary cr-project-btn font-weight-bold mt-2 mx-3 px-4 py-2', id: 'reset-password' %>
      </div>
    </div>
  <% end %>
</section>

<script>

</script>