<div class="container-fluid con-properties">
    <div class="row">
      <div class="col-md-6" style="padding-left: 5vw;">
        <p class="h3 center"><%= @property.name %></p>
        <div class="row">  
            <div class="col-sm-3">
              <p class="con-font text-secondary">Location:</p>
            </div>    
            <div class="col-sm-3">
              <p class="con-font"><%= @property.location %></p>
            </div> 
        </div>

         <div class="row">  
            <div class="col-sm-3">
              <p class="con-font text-secondary">Cost:</p>
            </div>    
            <div class="col-sm-3">
              <p class="con-font"><%= @property.cost %></p>
            </div> 
        </div>
      
         <div class="row">  
            <div class="col-sm-3">
              <p class="con-font text-secondary">People:</p>
            </div>    
            <div class="col-sm-3">
              <p class="con-font"><%= @property.people %></p>
            </div> 
        </div>
      
         <div class="row">  
            <div class="col-sm-3">
              <p class="con-font text-secondary">Description:</p>
            </div>    
            <div class="col-sm-3">
              <p class="con-font"><%= @property.description %></p>
            </div> 
        </div>


        
        <h4> By, <%= @property.user&.firstname %></h4>
      </div>
      
      <div class="col-md-6">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag(@property.image, class: 'd-block w-50 h-50') if @property.image.attached?%>
          </div>
        <div class="carousel-item">
            <%= image_tag(@property.image1, class: 'd-block w-50 h-50') if @property.image1.attached?%>
        </div>
        <div class="carousel-item">
            <%= image_tag(@property.image2, class: 'd-block w-50 h-50') if @property.image2.attached?%>
        </div>
        </div>

        <a class="carousel-control-prev text-secondary" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only ">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>  
      </div>

    </div>
    <hr />

<!-- Another form starts -->
     <div id='booking-dates' data-unavailable="<%= @property.unavailable_dates.to_json %>">
    <%# if current_user.id != @property.user_id  %>
       <%#= simple_form_for([@property, @booking]) do |f| %>
           <%#= f.input :startdate, as: :string, type: :text, id: "booking_start_date"%>
           <%#= f.input :enddate, as: :string, type: :text, id: "booking_end_date"%>
           <%#= f.submit "Book", class: "btn btn-primary" %>
        <%# end %>
    <%# end %>
 </div> 
<!-- Another form ends -->

<%= form_for @booking, url:property_bookings_path(@property)  do |book|  %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p>
        <%= book.label :startdate %> 
      </p>
      <p>
        <%= book.date_field :startdate, as: :date, value: book.object.try(:strftime,"%m/%d/%Y"), class: 'form-control', id: "date" %>
      </p>
    </div>
    
    <div class="col-md-3">
      <p>
        <%= book.label :enddate %> 
      </p>
      <p>
        <%= book.date_field :enddate, as: :date, value: book.object.try(:strftime,"%m/%d/%Y"), class: 'form-control', id: "date" %>
      </p>
    </div>

  </div>
  <div class="row">
    
    <%= book.hidden_field :user_id,value: current_user.id %>
    <%= book.hidden_field :property_id, value: @property.id %>
    <div class="col-md-3">
      <p>
        <%= book.label :people %> 
      </p>
      <p>
        <%=
          book.number_field :people, max: @property.people, min: 1
          %>
      </p>
    </div>
  </div>
  
  

  <button id="book">Book</button>

  <%#= book.submit %>
</div>


<% end %>


</div>