<div id="properties-container">
  <%# binding.pry %>
 
  <% Array(@properties).each do |p| %>


    <div>
      <div class="card mb-3">
          <div class="container" style="background-color: #d9e0e7;">
            <div class="row">
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title"><%= p.name %></h5>
                   <p class="card-text">Location : <%= p.location %></p>
                  <p class="card-text">Cost : <%= p.cost %></p>
                  <p class="card-text">People : <%= p.people %></p>
                  <p class="card-text">Description : <%= p.description %></p>
                  <% if current_user.present? %>
                    <p class="card-text">EmailID : <%= p.user&.email %></p>
                  <% end %>
                  <p class="card-text"><small class="text-muted">
                    <%#= link_to "Remove from wishlist", favourite_path(fav.property), :method=>"delete"%></small></p>
                </div>
              </div>
              
            
              <div class="col-md-6">

                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag(p.image, class: 'image_custom') if p.image.attached?%>
        </div>
        <div class="carousel-item ">
          <%= image_tag(p.image1, class: 'image_custom') if p.image1.attached?%>
        </div>
        <div class="carousel-item ">
          <%= image_tag(p.image2, class: 'image_custom') if p.image2.attached?%>
        </div>
        <div class="carousel-item ">
          <%= image_tag(p.image3, class: 'image_custom') if p.image3.attached?%>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      </div>
                
             <div class="row">
          <div class="col-sm-3">
             <p><%= link_to "Show", property_path(p) %></p>
          </div>
          <div class="col-sm-3">
            <%# User.where(id: current_user.id).joins(favourites: :property).pluck(:id)%>
            <% if current_user.present? %>
              <% if p.user&.id == current_user.id %>
                <p><%= link_to "Edit", edit_property_path(p) %></p>
              <% else %>
                <% if Booking.exists?(user_id: current_user.id, property_id: p.id) %>
                  <p>  
                    <%= link_to new_property_review_path(p) do %>
                      <%= fa_icon "comment" %>
                    <% end %> 
                  </p>
                <% end %>
             <% end %>
            <% end %>
          </div>
          
            <div class="col-sm-3">
             <p></p>
             <% if current_user.present? %>
             <% if Favourite.exists?(user_id: current_user.id, property_id: p.id) %>
              <span>
                <i class="fa fa-heart" id="fav" style="color: red;"value="<%= p.id %>" ></i>
              </span>
              <% else %>
               <span>
                <i class="fa fa-heart" id="fav" style="color: black;" value="<%= p.id %>"></i>
              </span> 
              <% end %>
            <% end %>
          </div>

          <div class="col-sm-3">
            <p></p>
            <%# if current_user.has_role? :tenant %>
      
            <%#if !current_user.host? %> <!-- current_user_starts -->
            <% if current_user.present? && p.user&.id == current_user.id %>
            
            <% else %>
              <% if current_user.present? %>
                <% if Booking.exists?(property_id: p.id, user_id: current_user) %>
              <%else%>
                <%= link_to "Book", new_property_booking_path(p) %>
              <% end %> 
              <% end %>   
            <% end %>
           

          <%# end %> <!-- current_user check ends -->
          </div>

        </div>

        <div class="row">
          <%
          avg = 0, total = 0
          arr = Property.joins(:reviews).where(id: 3).pluck(:rating)
          arr.each do |a| 
            total = total + a
          end
          avg = total/arr.length
          # binding.pry
          %>
          <div class="col-md-6">
            <% for i in 1..5 do %>
              <% if i>avg %>
                <span id="<%= i%>" class="star"> <%= fa_icon "star", class: 'uncolored_star' %> </span>
              <% else %>
                <span id="<%= i%>" class="star"> <%= fa_icon "star", class: 'colored_star' %> </span>
              <% end %>
            <% end %> 
          </div>
        </div>

              </div>

            </div>
          </div>
          
      </div>
      
     
    </div>
    <% end %>
  </div>




<%#= paginate @properties %>