<div>
  

  <div class="container">
    <div>
      <div class="card mb-3">
          <div class="container" style="background-color: #d9e0e7;">
            <div class="row">
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title"><%= @property.name %></h5>
                   <p class="card-text">Location : <%= @property.location %></p>
                  <p class="card-text">Cost : <%= @property.cost %></p>
                  <p class="card-text">People : <%= @property.people %></p>
                  <p class="card-text">Description : <%= @property.description %></p>
                  <p class="card-text">EmailID : <%= @property.user&.email %></p>
                 
                  <p class="card-text"><small class="text-muted">
                    <%#= link_to "Remove from wishlist", favourite_path(fav.property), :method=>"delete"%></small></p>
                </div>
              </div>
              
            
              <div class="col-md-6">

                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag(@property.image, class: 'image_custom') if @property.image.attached?%>
        </div>
        <div class="carousel-item ">
          <%= image_tag(@property.image1, class: 'image_custom') if @property.image1.attached?%>
        </div>
        <div class="carousel-item ">
          <%= image_tag(@property.image2, class: 'image_custom') if @property.image2.attached?%>
        </div>
        <div class="carousel-item ">
          <%= image_tag(@property.image3, class: 'image_custom') if @property.image3.attached?%>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      </div>
                
             <div class="row">
         
          <div class="col-sm-3">
            <% if current_user.present? && p.user&.id == current_user.id %>
              <p><%= link_to "Edit", edit_property_path(@property) %></p>
            <% end %>
          </div>
          
            <div class="col-sm-3">
             <p></p>
             <% if current_user.present? %>
             <% if Favourite.exists?(user_id: current_user.id, property_id: @property.id) %>
              <span>
                <i class="fa fa-heart" id="fav" style="color: red;"value="<%= @property.id %>" ></i>
              </span>
              <% else %>
               <span>
                <i class="fa fa-heart" id="fav" style="color: black;" value="<%= @property.id %>"></i>
              </span> 
              <% end %>
            <% end %>
          </div>

          <div class="col-sm-3">
            <p></p>
            <%# if current_user.has_role? :tenant %>
      <%#if !current_user.host? %>
         
            <% if current_user.present? && p.user&.id == current_user.id %>
            
            <% else %>
              <% if current_user.present? %>
                <% if Booking.exists?(property_id: p.id, user_id: current_user) %>
              <%else%>
                <%= link_to "Book", new_property_booking_path(p) %>
              <% end %> 
              <% end %>   
            <% end %>
          <%# end %> 

          </div>
        </div>

              </div>

            </div>
          </div>
          
      </div>
      
     
    </div>
  </div>





</div>

