<%= stylesheet_link_tag "Home.css" %>
<%= stylesheet_link_tag "review.css" %>


<div class="home">
  <div>
      <%= image_tag "home_main.jpg", style: 'height:50vw;width:100vw;' %>
  </div>

  <div class="container">
    <div class="row small-box">
      <div class="col-sm-4">
        <%= image_tag "udaipur.webp", style: 'height:10vw;width:10vw;border-radius:0.8vw;' %>
        <p style="font-weight: bold;">Udaipur</p>
      </div>
       <div class="col-sm-4">
        <%= image_tag "ahmedabad.webp", style: 'height:10vw;width:10vw;border-radius:0.8vw;' %>
        <p style="font-weight: bold;">Ahmedabad</p>
      </div>
       <div class="col-sm-4">
        <%= image_tag "karjat.webp", style: 'height:10vw;width:10vw;border-radius:0.8vw;' %>
        <p style="font-weight: bold;">Karjat</p>
      </div>
    </div>

    <div class="row small-box">
      <div class="col-sm-4">
        <%= image_tag "daman.webp", style: 'height:10vw;width:10vw;border-radius:0.8vw;' %>
        <p style="font-weight: bold;">Daman</p>
      </div>
       <div class="col-sm-4">
        <%= image_tag "igatpuri.webp", style: 'height:10vw;width:10vw;border-radius:0.8vw;' %>
        <p style="font-weight: bold;">Igatpuri</p>
      </div>
       <div class="col-sm-4">
        <%= image_tag "mumbai.webp", style: 'height:10vw;width:10vw;border-radius:0.8vw;' %>
        <p style="font-weight: bold;">Mumbai</p>
      </div>
    </div>
  </div>

<!-- Live anywhere -->

  <h3 class="review" style="padding: 1vw;margin: 1vw;">Live Anywhere</h3>
  <div class="container">
    <div class="row">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "live1.webp", style: '', class: 'd-block w-100' %>
          </div>
          <div class="carousel-item">
            <%= image_tag "live2.webp", style: '', class: 'd-block w-100' %>
          </div>
          <div class="carousel-item">
            <%= image_tag "live3.webp", style: '', class: 'd-block w-100' %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <!-- Experience the world -->
  <div>
  <div class="experience">
    <h3 class="review">Experience the world</h3>
    <p>Unique activities with local experts – in person or online.</p>
    <div class="row small-box">
      <div class="col-sm-4">
          <%= image_tag "ex1.webp", style: '', class: 'd-block w-100' %>
      </div>
      <div class="col-sm-4">
          <%= image_tag "ex2.webp", style: '', class: 'd-block w-100' %>
      </div>
      <div class="col-sm-4">
          <%= image_tag "ex3.webp", style: '', class: 'd-block w-100' %>
      </div>
    </div>
  </div>
  </div>



  <!-- Map -->


</div>