  
   <%= stylesheet_link_tag "nicepage.css" %>
  

   <nav class="navbar navbar-light">
    <header class="u-clearfix u-header u-header" id="sec-2749" style="background-color: #e3f2fd;">
      <div class="u-clearfix u-sheet ">
         <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">

              

              <li class="u-nav-item">
                <%= link_to 'Home', root_path, class:"u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" %>
              </li>

              <li class="u-nav-item">
                 <%= link_to 'About', airbnb_about_path, class:"u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" %>
              </li>

              <li class="u-nav-item">
                <%= link_to 'Properties', properties_path, class:"u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" %>
                  
              </li>

              <%
                if !user_signed_in?
              %>

               <li class="u-nav-item">
                <%= link_to 'Connect', new_user_registration_path, class:"u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" %>
              </li>


              <%
                else
              %>

              <li class="u-nav-item">
                <%= link_to 'MyProfile', airbnb_profile_path, class:"u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" %>
              </li>

              <li class="u-nav-item">
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" %>
              </li>

              <% end %>

            </ul>
          </div>
          </div>
    </header>
    </nav>